@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #181818;
    height: 100vh;
}

/* Header */
.back{
    padding: 42px 0;
    background-color: #000000;
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    padding: 0px 30px;
}
.menu-cont {
    max-width: 1500px;
    margin: 0 auto;
}
.menu-cont {
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

#menu {
    display: none;
}
.menu-icono {
    width: 25px;
}
.menu-cont label {
    cursor: pointer;
    display: none;
}

.header .logo {
    cursor: pointer;
    text-align: end;
    max-width: 500px;
}

.header .logo img:hover {
    transform: scale(1.1);
}

.header .logo img {
    height: 100px;
    width: auto;
    transition: all 0.3s;
}

.header .nav-links {
    display: flex;
    list-style: none;
    text-align: start;
    margin-top: 15px;    
}

.header .nav-links li {
    display: inline-block;    
    padding: 0 20px;
}

.header .nav-links li a:hover {
    color: #525252;
}

.header .nav-links a {
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
/* Fin Header */

/* Carrusel */
.carrusel-frame {
    width: auto;
    height: auto;
    margin: 50px 100px 0px;
    overflow: hidden;
}

.carrusel-frame ul{
    display: flex;
    padding: 0;
    width: 400%;

    animation: slide 16s infinite alternate ease-in-out;
}

.carrusel-frame li{
    list-style: none;
    width: 100%;
}

.carrusel-frame img{
    width: 100%;
}

@keyframes slide {
    0% {margin-left: 0%;}
    20% {margin-left: 0%;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}
    
    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}
/* Fin Carrusel */

/* Tarjetas */
.contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;

}

.tarjetas{
    width: 165px;
    height: auto;
    background-color: #333333;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(224, 224, 224, 0.459);
    margin: 20px;
}

.tarjetas img{
    width: 100%;
    height: auto;
}

.texto h3{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    text-align: center;
    padding: 25px 0;
    font-size: 18px;
    color: #bbbbbb;
    margin: 0px;    
}

.tarjetas:hover{
    background-color: #d1d1d1;
    color:#0e0e0e;
}

.tarjetas h3:hover{    
    color:#0e0e0e;
}
/* Fin Tarjetas */

/* Slider Marcas */
.slider {
    background-color: white;
    width: 100%;
    height: 134px;
    margin: 30px 0px 20px;
    overflow: hidden;
}

.slider .slide-track{
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px * 24);
}

.slider .slide{
    width: 200px;
}

.slider .slide img{
    width: 150px;
    height: 134px;
}

@keyframes scroll{
    0%{        
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100%{        
        -webkit-transform: translateX(calc(-200px * 12));
        transform: translateX(calc(-200px * 12));
    }
}
/* Fin Slider Marcas */

/* Footer */
footer{
    background-color: #111;
}
.footerContainer{
    width: 100%;
    padding: 70px 30px 20px ;
    margin-top: 50px;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0,9;
}

.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}
.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;

}
.footerNav ul li a:hover{
    opacity: 1;
}
.footerBottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
/* FinFooter */

/* Contacto */
.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(65, 65, 65, 0.7)), url(img/computer-store.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.contact .content-contact{
    max-width: 800px;
    text-align: center;    
}

.contact .content-contact h2{
    font-size: 36px;
    font-weight: 500;
    color: #fff;    
}

.contenedor-contact {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.contenedor-contact .contact-info1,
.contenedor-contact .contact-info2{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.contenedor-contact .contact-info1 .box,
.contenedor-contact .contact-info2 .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.contenedor-contact .contact-info1 .box .icon,
.contenedor-contact .contact-info2 .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.contenedor-contact .contact-info1 .box .text,
.contenedor-contact .contact-info2 .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.contenedor-contact .contact-info1 .box .text h3,
.contenedor-contact .contact-info2 .box .text h3{
    font-weight: 500;
    color: #d1d1d1;    
}

.contact-form{
    width: 40%;
    padding: 40px;
    background: #fff;
}

.contact-form h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contact-form .input-box{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contact-form .input-box input,
.contact-form .input-box textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contact-form .input-box span{
    position: absolute;
    left: 0;    
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;    
}

.contact-form .input-box input:focus ~ span,
.contact-form .input-box input:valid ~ span,
.contact-form .input-box textarea:focus ~ span,
.contact-form .input-box textarea:valid ~ span{
    color: rgb(0, 0, 0);   
    font-size: 12px;
    transform: translateY(-20px); 
}

.contact-form .input-box input[type="submit"]{
    width: 100px;
    background: #1a1a1a;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

.contact-form .input-box input[type="submit"]:hover{
    background: #0000004f;
    color: #000000;
}
/* Fin Contacto */

/* Quienes Somos */
.titulo{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}

.titulo h1{
    font-size: 50px;
    color: #fff;
    margin-bottom: 25px;
    position: relative;
}

.titulo h1::after{
    content: "";
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #cacaca;
}

.titulo p{
    font-size: 18px;
    color: #fff;
    margin-bottom: 35px;
    text-align: justify;
}

.contenedor-nosotros{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}

.acerca{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.acerca-img{
    flex: 1;
    margin: 40px;
    overflow: hidden;
}

.acerca-img img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;    
}

.acerca-img:hover img{
    transform: scale(1.2);
}

.acerca-contenido{
    flex: 1;    
}

.acerca-contenido h2{
    font-size: 23px;
    margin-bottom: 15px;
    color: #d1d1d1;
}

.acerca-contenido p{
    text-align: justify;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;    
}

.contenedor-quienes{
    width: 85%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 100px;
}

.contenedor-quienes .cards{
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px;
    justify-content: space-evenly;
  }
.cards .card{
    width: 25%;
    background: #fff;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.4s ease;
  }
.cards .card:hover{
    transform: translateY(-15px);
  }
.cards .card .content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
.cards .card .content .img{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    padding: 3px;
    background: #000000;
    margin-bottom: 14px;
  }
.card .content .img img{
    height: 100%;
    width: 100%;
    border: 3px solid #ffff;
    border-radius: 50%;
    object-fit: cover;
  }
.card .content .name{
    font-size: 20px;
    font-weight: 500;
  }
.card .content .job{
    font-size: 20px;
    color: #2b2b2b;
  }
/* Fin Quienes Somos */

/* Terminos */
.terminos p, .terminos h3, .terminos h1, .terminos h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style: none;
    text-align: justify;
    padding: 5px 45px;
    color: #fff;
}
.terminos h1, .terminos h2 {
    padding: 25px;
}
.terminos h2{
    margin: 15px 15px;
    display: flex;
    background: #383838;
    width: 400px;
}

.terminos p{
    font-size: 18;
}
/* Fin Terminos*/

/* Comercialización */
.textos-2{
    font-size: 23px;
    text-align: center;
    padding: 50px;
    color: #fff;
}

.col-arriba{
    display: flex;
    justify-content: center;
}

.metodos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    padding: 5px 25px;
    height: 80px;
    
}
.img-pago {
    width: 150px;
    height: 100px;
    object-fit: contain;
    display: flex;
}

.retiro{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;  
    padding: 50px 0px;
    flex-wrap: wrap;
}


.lista-CA , .lista-OCA , .lista-acuerdo
 {
    background-color: #313131;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 200px;
    padding: 4px 40px;
    border-radius: 20px;
    color: aliceblue;
    
}
h4{
    border-bottom: 2px solid #000000;
}
/* Fin Comercialización */

/* Media Queries */
@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    } 
    .footerNav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }
    .socialIcons a{
        padding: 8px;
        margin: 4px;
    }
    .titulo h1{
        font-size: 32px;
    }
    .titulo p{
        font-size: 17px;
        margin: 0px 20px;
    }
    .contenedor-acerca{
        padding: 0px;
    }
    .acerca{
        padding: 20px;
        flex-direction: column;
    }
    .acerca-img{
        margin: 20px;
    }
    .acerca-contenido p{
        padding: 0px;
        font-size: 16px;
    }
}


@media(max-width:991px) {
    .form-alt iframe{
        padding: 5px;
        width: 100%;
    }

    .nosotros img{
        height: 300px;
        width: 300px;
        object-fit: cover; 
    }
    
    .header .nav-links li:hover {
        transform: scale(1.0);
    }
    .menu-cont{
        padding: 0 20px;
        justify-content:space-evenly;
    }

    .menu-cont .logo{
        padding: 0 20% 0;
    }

    .menu-cont label {
        display: initial;
        margin-top: 8px;
        padding: 0 0 0 10%;
    }
    .menu-cont .nav-links{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color:#505050;
        display: none;
        margin-top: 0px;
    }
    .menu-cont .nav-links ul li{
        width: 100%;
    }

    .menu-cont .nav-links li{
        text-align: center;
        margin-top: 10px;
    }

    #menu:checked ~ .nav-links{
        display: initial;
    }
    
    .carrusel-frame {
        margin: 20px 20px 0px;
    }

    .contact{
        padding: 50px;
    }

    .contenedor-contact{
        flex-direction: column;
    }

    .contenedor-contact .contact-info1,
    .contenedor-contact .contact-info2{
        margin-bottom: 40px;
    }

    .contenedor-contact .contact-info1,
    .contenedor-contact .contact-info2,
    .contact-form
    {
        width: 100%;
    }

    .contenedor-quienes .cards .card{
        margin: 20px 0 10px 0;
        width: auto;
      }
}
/* Fin Media Queries */